<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8080/api/productos">
    <img src="" alt="logo" height="50">
    Marcelo Basualdo
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:8080/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/signup?">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>