<div class="container-bg pt-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <!-- chat -->
        <h1 class="display-5 mb-3 mb-md-5 mt-1">Chat</h1>
        <div class="form-and-chat px-md-5 d-flex w-100 flex-column flex-md-row justify-content-md-around">
        
        <form class="formdata bg-dark text-light text-start" id="messagesForm" method="POST" action="/api/chat">
            <div class="mb-3">
            <label for="email-input" class="form-label">Email</label>
            <input type="text" name="user" class="form-control" id="email-input" aria-describedby="emailInput">
            </div>
            <div class="mb-4">
            <label for="message-input" class="form-label">Message</label>
            <textarea name="message" id="message-input" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="messages bg-dark text-light">
            {{#if noMessages}}
            <div class="alert alert-danger" role="alert">
            No se encontraron mensajes
            </div>
            {{else}}
            <ul id="messagesUl" class="d-flex flex-column-reverse">
            {{#each messagesData}}
            <li class="messageLi">
                <div class="messageEmailDiv">{{this.user}}</div>
                <div class="messageContentDiv">{{this.message}}</div>
            </li>
            {{/each}}
            </ul>
            {{/if}}
        </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>