<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Pages</h4>
                <ul class="list-unstyled">
                    <li><a href="/">Store</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">FAQ</a></li>
                    
                </ul>
                <hr>
                <h4 class="mb-3">User section</h4>
                <ul class="list-unstyled">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/forgot-password">Recover Password</a></li>
                </ul>
            </div>
            <!-- col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Top Categories</h4>
                <ul class="list-unstyled">
                    <li><a href="/?">All</a></li>
                    <li><a href="/?page=1&category=Dresses">Dresses</a></li>
                    <li><a href="/?page=1&category=Jackets">Jackets</a></li>
                    <li><a href="/?page=1&category=Pants">Pants</a></li>
                    <li><a href="/?page=1&category=Sweaters">Sweaters</a></li>
                    <li><a href="http://localhost:8080/?page=1&category=T-shirts">T-shirts</a></li>
                </ul>
            </div>
            <!-- col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Where to find us</h4>
                <p><strong>Obaju S.R.L</strong>
                    <br>Av del Cid 897,<br>Valencia<br><strong>Spain</strong>
                </p><a href="contact.html">Go to contact page</a>
                <hr class="d-block d-md-none">
            </div>
            <!-- col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Subscribe to Our Newsletter</h4>
                <p class="text-muted">Stay updated with our latest news and offers by subscribing to our newsletter.</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control"><span class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary">Subscribe!</button></span>
                    </div>
                </form>
                <hr>
                <h4 class="mb-3">Stay Connected</h4>
                <p class="social">
                    <a href="http://www.facebook.com" target="_blank" class="facebook external"><i class="bi bi-facebook"></i></a>
                    <a href="http://www.twitter.com" target="_blank" class="twitter external"><i class="bi bi-twitter"></i></a>
                    <a href="http://www.instagram.com" target="_blank" class="instagram external"><i class="bi bi-instagram"></i></a>
                    <a href="http://www.google.com" target="_blank" class="gplus external"><i class="bi bi-google"></i></a>
                    <a href="http://www.gmail.com" target="_blank" class="email external"><i class="bi bi-envelope-fill"></i></a>
                </p>
            </div>
            <!-- col-lg-3-->
        </div>
        <!-- row-->
    </div>
    <!-- container-->
</div>
<!-- FOOTER END -->
<!-- COPYRIGHT -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <p class="text-center text-lg-left">©2023 ProyectoCoder</p>
            </div>
            <div class="col-lg-6">
                <p class="text-center text-lg-right">Design by<a
                        href="https://github.com/Fabrizionb">@pasteldechoclito</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- COPYRIGHT END -->