 {{> navbar}}
 <div class="container">
    <h1>Registrar Usuario</h1>
   
    <!-- <form class="form" onsubmit="send(event)"> -->
    <form action="/api/usuarios" class="form" onsubmit="send(event)">  
        <div class="blur">
            <input 
                id="form-name"
                type="text" 
                name="form-name"
                placeholder="Nombre"
            />
            <input 
                id="form-lastName"
                type="text" 
                name="form-lastName"
                placeholder="Apellido"
            />
            <input 
                id="form-email"
                type="text" 
                name="form-email"
                placeholder="Email"
            />
            <input 
                id="form-age"
                type="number" 
                name="form-age"
                placeholder="Edad"
            />
            <input 
                id="form-password"
                type="password" 
                name="form-password"
                placeholder="Password"
            />
            
            
            <input type="submit" value="Guardar Usuario"/>
        </div>
            
    </form>
    
</div>


<script src="./js/register.js"></script>
<script src="./js/api.js"></script>
