<div id="content">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Not Found</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 mx-auto d-flex justify-content-center">
                <div class="box" style="min-width: 300px; min-height: 295px;">
                    <h1 class="text-center">Page Not Found</h1>
                    <p class="lead">The page you are looking for cannot be found.</p>
                    <p class="text-muted">Please, check the URL and try again.</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>