<div id="content">
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-12 ">
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Recover Password</li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-6 mx-auto d-flex justify-content-center">
        <div class="box">
          <h1>Recover Password</h1>
          <p class="lead">Forgot your password?</p>
          <p class="text-muted">Please enter your registered email address. You will receive a link to create a new password via email.</p>
          <hr>
          <form id="recover-password-form" action="/api/user/recover-password" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-2" id="recoverbtn"><i class="fa fa-user-md"></i> Send Reset Link</button>
            </div>
          </form>
          <div class="text-center mt-2">
            <a href="/login">Remember your password? Sign in.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/recover-password.js"></script>
