<nav class="nav-navbar navbar-grid">
    <ul class="ul-navbar">
        <li class="li-navbar">
            <a href="/">Inicio</a>
        </li>
        <li class="li-navbar">
            <a href="/chat">Chat</a>
        </li>
        <li class="li-navbar">
            <a href="/login">login</a>
        </li>
    </ul>
    <div class="new-user">
        <p class="user-name">{{name}} {{lastName}}</p>
        <img src="https://thelifetank.com/wp-content/uploads/2018/08/avatar-default-icon.png" alt="imagen usuario" class="user-img">
    </div>
    
</nav>
